<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'Cafe/img/ugamDots.png' %}"/>
	<style>
	.colorclass{
		background-color: #f2dede !important; 
		border-color: #ebccd1;
		color: #a94442;
	}
	.panelbodyclass{
		font-size:20px;
		font-weight:bold;
		position: relative;
		right: -30%;
	
	}
	.topClass{
		z-index:1050!important;
	}
	 td { text-align:left; vertical-align:middle; }
	 
	 th { text-align:center!important; vertical-align:middle; }
	 
	 #containerDiv {
  width: 35%;
/* height: 200px; */
/* background: blue; */
position: absolute;
top: 9.5%;
left: 66.5%;
margin: 0 0 0 -100px;
	 
	 
	</style>
    <title>BLR-Cafe</title>

    <!-- Bootstrap core CSS -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom styles for this template -->
    <link href="{% static 'Cafe/css/bootstrap.css' %}" rel="stylesheet">
	<script src="http://cdn.webrupee.com/js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
  </head>
  <body background="{% static 'Cafe/img/background.png' %}" style="background-repeat: no-repeat;">
 <!--  Error message popup code -->
  <div class="container">  
<div id="modalError" class="colorclass modal fade in" style="display: none;margin-top:auto;margin-bottom:auto; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">x</a>  
<h3>Error</h3>
<hr>  
<label id="errormessage"></label>
</div> 
</div>
</div>
  <!-- NAVBAR
================================================== -->
  <div class="navbar-wrapper" >
      <div class="container" >

          <div class="navbar navbar-static-top" role="navigation" style="margin-bottom:0px">

          <div class="container" style="background-color:#282364">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <img class="navbar-brand"   style="height: 51px;width: 124px;padding-bottom: 5px;padding-top: 5px" src="{% static 'Cafe/img/ugamLogobc.png' %}" href="www.ugamsolutions.com"></img>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
          <li class="divider-vertical"></li>
          <li>
            <li><a onclick="profile()" onmouseover="" style="cursor: pointer;"><strong id="profile">Welcome,</strong></a>
           </li>
           <li><a><strong id="credits">Balance:<span class="WebRupee">&#x20B9;</span></strong></a>
           </li>
			<li onmouseover="" style="cursor: pointer; position:relative; left:-10px;"><a onClick="logout() "><strong>Log Out</strong></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
	<!-- Modal window html form -->
 
	
   <!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
	  <div id="main_template" style="margin-left: 115px;margin-right: 84px;margin-top:10px">
	<div class="panel panel-default" style="width:55%;display:inline-block;box-shadow: 16px 3px 10px -7px #888, -10px 10px 20px -7px #888;">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span>  MENU</h3>
  </div>
  <div class="panel-body">
  <ul class="nav nav-pills" id="menu-pills">
  <li class="active"><a href="#list_chips">Chips</a></li>
  <li><a href="#list_biscuits">Biscuits</a></li>
  <li><a href="#list_chocolates">Chocolates</a></li>
  <li><a href="#list_heatneat">Heat'n'Eat</a></li>
  <li><a href="#list_beverages">Beverages</a></li>
</ul>

<div id="menu-pillsContent" class="tab-content">


<div class="list-group tab-pane fade in active " id="list_chips">

  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70">Stock</th>
      <th></th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if chips_list %}
    {% for chip in chips_list %}
    <div style="display:none" id="chip_id{{ forloop.counter }}">{{ chip.id }}</div>
    <tr id="chip_{{ chip.id }}">
        <td><span id="menu_inventory_{{ chip.id }}" class="badge">{{ chip.inventory }}</span></td>
        <td id = "menu_photo_{{ chip.id }}"><img width=100 height=100 src="{{ chip.photo.url }}"></img></td>
        <td id = "menu_name_{{ chip.id }}">{{ chip.name }}</td>    
        <td id = "menu_price_{{ chip.id }}">{{ chip.price }}</td>
        <td><div class="input-group">
      <input id="menu_quantity_{{ chip.id }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('chip',{{ chip.id }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No chips are available.</p>
{% endif %}
  </tbody>
</table>
</div>

<div class="list-group tab-pane fade" id="list_biscuits">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70">Stock</th>
      <th></th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if biscuits_list %}
    {% for biscuit in biscuits_list %}
    <div style="display:none" id="biscuit_id{{ forloop.counter }}">{{ biscuit.id }}</div>
    <tr id="biscuit_{{ biscuit.id }}">
        <td><span id="menu_inventory_{{ biscuit.id }}" class="badge">{{ biscuit.inventory }}</span></td>
        <td id = "menu_photo_{{ biscuit.id }}"><img width=100 height=100 src="{{ biscuit.photo.url }}"></img></td>
        <td id="menu_name_{{ biscuit.id }}">{{ biscuit.name }}</td>
        <td id="menu_price_{{ biscuit.id }}" align="right">{{ biscuit.price }}</td>
        <td><div class="input-group">
      <input id="menu_quantity_{{ biscuit.id }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('biscuit',{{ biscuit.id }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No biscuits are available.</p>
{% endif %}
  </tbody>
</table>
</div>

<div class="list-group tab-pane fade" id="list_chocolates">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70">Stock</th>
      <th></th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if chocolates_list %}
    {% for chocolate in chocolates_list %}
    <div style="display:none" id="chocolate_id{{ forloop.counter }}">{{ chocolate.id }}</div>
    <tr id="chocolate_{{ chocolate.id }}">
        <td><span id="menu_inventory_{{ chocolate.id }}" class="badge">{{ chocolate.inventory }}</span></td>
        <td id = "menu_photo_{{ chocolate.id }}"><img width=100 height=100 src="{{ chocolate.photo.url }}"></img></td>
        <td id="menu_name_{{ chocolate.id }}" >{{ chocolate.name }}</td>
        <td id="menu_price_{{ chocolate.id }}" align="right">{{ chocolate.price }}</td>
        <td><div class="input-group">
      <input id="menu_quantity_{{ chocolate.id }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('chocolate',{{ chocolate.id }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No chocolates are available.</p>
{% endif %}
  </tbody>
</table>
</div>

<div class="list-group tab-pane fade" id="list_heatneat">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70">Stock</th>
      <th></th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if heatneat_list %}
    {% for heatneat in heatneat_list %}
    <div style="display:none" id="heatneat_id{{ forloop.counter }}">{{ heatneat.id }}</div>
    <tr id="heatneat_{{ heatneat.id }}">
        <td><span id="menu_inventory_{{ heatneat.id }}" class="badge">{{ heatneat.inventory }}</span></td>
        <td id = "menu_photo_{{ heatneat.id }}"><img width=100 height=100 src="{{ heatneat.photo.url }}"></img></td>
        <td id="menu_name_{{ heatneat.id }}" >{{ heatneat.name }}</td>
        <td id="menu_price_{{ heatneat.id }}"  align="right">{{ heatneat.price }}</td>
        <td><div class="input-group">
      <input id="menu_quantity_{{ heatneat.id }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('heatneat',{{ heatneat.id }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No Heat'n'Eat products are available.</p>
{% endif %}
  </tbody>
</table>
</div>


<div class="list-group tab-pane fade" id="list_beverages">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70">Stock</th>
      <th></th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if beverages_list %}
    {% for beverage in beverages_list %}
    <div style="display:none" id="beverage_id{{ forloop.counter }}">{{ beverage.id }}</div>
    <tr id="beverage_{{ beverage.id }}">
        <td><span id="menu_inventory_{{ beverage.id }}" class="badge">{{ beverage.inventory }}</span></td>
        <td id = "menu_photo_{{ beverage.id }}"><img width=100 height=100 src="{{ beverage.photo.url }}"></img></td>
        <td id="menu_name_{{ beverage.id }}">{{ beverage.name }}</td>
        <td id="menu_price_{{ beverage.id }}" align="right">{{ beverage.price }}</td>
        <td><div class="input-group">
      <input id="menu_quantity_{{ beverage.id }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('beverage',{{ beverage.id }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No beverage products are available.</p>
{% endif %}
  </tbody>
</table>
</div>
</div>
</div>

</div>
<div id="containerDiv">
<div class="panel panel-primary" style="float:right;width:100%;border-color: rgb(168, 168, 235);box-shadow: 16px 3px 10px -7px #888, -10px 10px 20px -7px #888;">
<div class="panel-heading"><span class="glyphicon glyphicon-shopping-cart"></span>  Checkout Cart</div>
  <div class="panel-body">
    <p id="panelBody" class="panelbodyclass">No items selected</p>
  </div>

  <!-- Table -->
  <table id="checkoutTable" class="table ">
        <!-- <thead>
          <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price <span class="WebRupee">&#x20B9;</span></th>
          </tr>
        </thead> -->
        <tbody>
        </tbody>
      </table>

    <h1 style="display:inline-block; position: relative;top: -20px;"><span class="label label-default label-large">Total : <span class="WebRupee">&#x20B9;</span><span id = "checkoutPrice"></span></span></h1>
    <div style="float:right;margin-left:5px;" id="backButton"></div>
    <button id="checkoutButton" class="btn btn-success btn-lg" data-toggle="modal" onclick="validateCheckout()" style="float:right";margin-top:15px;">
  Checkout
</button>
</div>
</div>
</div>
<!-- CONFIRMING MODAL FOR CHECKOUT -->
<div id="logoutModal" class="modal fade in bs-example-modal-sm" style="display: none;margin-top:auto;margin-bottom:auto; ">  
<div class="modal-header">  
<a class="close" onclick="disappearModal()" data-dismiss="modal">x</a>  
<h3>You have been logged out.<img src="{% static 'Cafe/img/ajax-loader.gif' %}"></img></h3>
</div>  
  <!-- <div class="modal-footer">  
<input class="submit btn btn-default"  value="Yes"/>
<a href="#" class="btn  btn-default" onclick="disappearModal()" data-dismiss="modal">Close</a>   -->

</div>

</div>  

      <!-- FOOTER -->
      <footer>
       <p style="padding-left:8%; display:none">&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'Cafe/js/bootstrap.min.js' %}"></script>
	<script>
	if(sessionStorage.getItem("userid") == null)
	{
		//window.location.assign("index");
	}
  $(document).ready(function(){
    $('.carousel').carousel();
    $("#profile").append(sessionStorage.getItem("username"))
    $("#credits").append(sessionStorage.getItem("usercredits"))
    onlyNumber("#beverage_quantity")
    onlyNumber("#chip_quantity")
    onlyNumber("#biscuit_quantity")
    onlyNumber("#heatneat_quantity")
    onlyNumber("#chocolate_quantity")
    
  });
  
  $('#menu-pills a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
var checkoutPrice = 0
var cartIds=new Array();

function productClick(product,id)
  {
		console.log("product=="+product)
		console.log("row=="+id)
	  if($("#menu_quantity_"+id).val().length <= 0)
		  {
		  	console.log("inside no quantity")
		  	$("#errormessage").empty()
		  	$("#errormessage").append("Please add a quantity value")
		  	$("#modalError").modal('show')
		  	return
		  }
		 productquantity = $("#menu_quantity_"+id).val()
		  productquantity= parseInt(productquantity)
		  
		  productinventory = $("#menu_inventory_"+id).text()
		  productinventory= parseInt(productinventory)
	  if(productquantity > productinventory)
		  {
		  	console.log("inside greater than inventory")
		  	$("#errormessage").empty()
		  	$("#errormessage").append("Quantity selected cannot be greater than inventory")
		  	$("#modalError").modal('show')
		  	return
		  }
	 
	  
	  productid=id;
	  
	  productname = $("#menu_name_"+id).text()
	  productprice = $("#menu_price_"+id).text()
	  productprice = parseInt(productprice)
	  
	  productquantity = $("#menu_quantity_"+id).val()
	  productquantity= parseInt(productquantity)
	  
	  productinventory = $("#menu_inventory_"+id).text()
	  productinventory= parseInt(productinventory)
	  console.log("productinventory=="+productinventory)
	   console.log("productinventory=="+productquantity)
	  var quantityleft = productinventory - productquantity
	  console.log("quantityleft=="+quantityleft)
	  $("#menu_inventory_"+id).empty()
	  $("#menu_inventory_"+id).append(quantityleft)
	  
	  totalproductprice = productprice * productquantity
	  checkoutPrice = checkoutPrice + totalproductprice;
	  console.log(checkoutPrice+","+totalproductprice)
	  
/* <-----------code to correctly fill out checking cart----------------------> */
	  var tableSize = $('#checkoutbody tr').length;
	  console.log("tableSize=="+tableSize)
	  var flag = false;
	  var itemId;
	 
	  if(tableSize > 0)
		  {
		  console.log("inside not empty")
		  if($("#cart_"+productid).val()!= undefined ){
			  console.log("q : " + $("#cart-quantity_"+productid).text());
			  productquantity += parseInt($("#cart-quantity_"+productid).text())
			  totalproductprice += parseInt($("#cart-total-price_"+productid).text())
			  	$("#cart-quantity_"+productid).text(productquantity)
			  	$("#cart-total-price_"+productid).text(totalproductprice)
		  }else{
			  console.log("inside else if product is not added")
			  $("#checkoutbody").append('<tr id = "cart_'+productid+'"><td>'+productname+'</td><td id="cart-quantity_'+productid+'">'+productquantity+'</td><td id="cart-total-price_'+productid+'">'+totalproductprice+'</td><td><button type="button" onclick="removeCartItem(this)" id="remove_'+productid+'" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td></tr>')
			  cartIds.push(productid);
			  alert(cartIds);
		  }
		  }
	  else{
		  console.log("inside empty")
		  $("#panelBody").empty();
		  $("#panelBody").append("Items Selected");
		  $("#checkoutTable").append('<thead id="cartHead"><tr><th>Item Name</th><th>Quantity</th><th>Price<span class="WebRupee">&#x20B9;</span></th><th></th></tr></thead><tbody id="checkoutbody"><tr id = "cart_'+productid+'"><td>'+productname+'</td><td id="cart-quantity_'+productid+'">'+productquantity+'</td><td id="cart-total-price_'+productid+'">'+totalproductprice+'</td><td><button type="button" onclick="removeCartItem(this)" id="remove_'+productid+'" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></button></td></tr>')
	      cartIds.push(productid);
	  		alert(cartIds);
	  }
	  $("#checkoutPrice").empty()
	  $("#checkoutPrice").append('<label>'+checkoutPrice+'</label>')
	  
	  
  }
  
  
/* <-------function to ensure only numbers can be input to quantity----------> */
  function onlyNumber(input)
  {
	  
	  $(input).keydown(function (e) {
	        // Allow: backspace, delete, tab, escape, enter and .
	        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
	             // Allow: Ctrl+A
	            (e.keyCode == 65 && e.ctrlKey === true) || 
	             // Allow: home, end, left, right
	            (e.keyCode >= 35 && e.keyCode <= 39)) {
	                 // let it happen, don't do anything
	                 return;
	        }
	        // Ensure that it is a number and stop the keypress
	        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
	            e.preventDefault();
	        }
	    });
  }
  function validateCheckout()
  {
	  var tableSize = $('#checkoutbody tr').length;
	  console.log("tableSize=="+tableSize)
	  if(tableSize <= 0)
		  {
		  $("#errormessage").empty()
		  	$("#errormessage").append("Cart is empty")
		  	$("#modalError").modal('show')
		  }
	  else{
		  /* $("#confirmModal").css("display","block"); */
			    var confirmDiv = $('#containerDiv');
		  		confirmDiv.addClass("topClass");
		  		$("#checkoutButton").empty()
		  		$("#checkoutButton").addClass("btn btn-success")
		  		$("#checkoutButton").attr("onclick","confirm()")
		  		$("#checkoutButton").append("Confirm")
		  		var position = confirmDiv.position();
		  		left=position.left;
		  		top=position.top
		  		$("#backButton").append('<button type="button style="float:right;margin-top:15px;" onclick="disappearModal(left,top)" class="btn btn-danger  btn-lg">Back</button>')
			    confirmDiv.fadeIn().animate({top: $(window).height()/2 - confirmDiv.outerHeight()/2-110,left:$(window).width()/2 - confirmDiv.outerWidth()/2+100}, {duration: 'slow', queue: false}, function() {
			        //Animation complete.
			    });
			    $('body').append('<div id="containerModal"><div class="modal-backdrop fade in"></div></div>')
			
		  
	  }
	  
  }
  function confirm()
  {		
  		var productIds = []
		for(var d in cartIds){
			var productObject={};
			productObject['productId']=cartIds[d];
			productObject['quantity']=$("#cart-quantity_"+cartIds[d]).text();
			productObject['totalproductprice']=$("#cart-total-price_"+cartIds[d]).text();
			productIds.push(productObject);
		}
	  console.log("Productids==="+JSON.stringify(productIds));
	  empid = sessionStorage.getItem("userid");
	  $.post("order",
			    {	empid: empid,
  	  				productIds: JSON.stringify(productIds),
			     csrfmiddlewaretoken:'{{ csrf_token }}'
			     },
			    function(data,status){
			    	 console.log("Data: " + data + "\nStatus: " + status);
			    	 alert(data);
			     })
			     .fail(function(xhr) {
				        console.log("Error: " + xhr.statusText);
				    });
				    return false;
  }
  
  
  function disappearModal(left,top)
  {
	  var confirmDiv = $('#containerDiv');
	  console.log("inside disappear")
	  $("#backButton").empty()
	  $("#checkoutButton").empty()
		  		$("#checkoutButton").addClass("btn btn-success")
		  		$("#checkoutButton").attr("onclick","validateCheckout()")
		  		$("#checkoutButton").append("Checkout")
	  /* $("#confirmModal").css("display","none"); */
	  confirmDiv.fadeIn().animate({top: top,left:left}, {duration: 'slow', queue: false}, function() {
	        //Animation complete.
	    });
	  $("#containerModal").remove()
	  
  }
  
  // Function to remove items from the checkout cart 
  
  function removeCartItem(el){
  
  		
  		var productId=$(el).attr('id').split("_")[1];
  		var cartProductQuant=parseInt($('#cart-quantity_'+productId).text());
  		var cartProductPrice=parseInt($('#cart-total-price_'+productId).text());
  		var menuProductQuant=parseInt($("#menu_inventory_"+productId).text());
  		menuProductQuant+=cartProductQuant;
  		$("#menu_inventory_"+productId).text(menuProductQuant);
  		$("#cart_"+productId).remove();
  		var tableSize = $('#checkoutbody tr').length;
  		checkoutPrice-=cartProductPrice;
  		 $("#checkoutPrice").empty()
	    $("#checkoutPrice").append('<label>'+checkoutPrice+'</label>')
  		
  		if(tableSize == 0){
  			$("#cartHead").remove();
  		}var index = cartIds.indexOf(parseInt(productId));
		if (index > -1) {
    		cartIds.splice(index, 1);
		}
		alert(cartIds);
		
  }
  
  function profile()
  {
	  window.location.assign("profile/"+sessionStorage.getItem("userid"))
  }
  
  function logout()
  {
		sessionStorage.clear();
		$("#logoutModal").css("display","block")
		
		setTimeout(function(){window.location.assign("index")}, 2500);
		
  }
</script>
  </body>
</html>
