<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.ico">
	<style>
	.colorclass{
		background-color: #f2dede !important; 
		border-color: #ebccd1;
		color: #a94442;
	}
	</style>
    <title>BLR-Cafe</title>

    <!-- Bootstrap core CSS -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% load staticfiles %}
    <!-- Custom styles for this template -->
    <link href="{% static 'Cafe/css/bootstrap.css' %}" rel="stylesheet">
	<script src="http://cdn.webrupee.com/js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
	<script type="text/javascript" src="lib/jquery.js"></script>
  </head>
  <body background="{% static 'Cafe/img/background.png' %}" style="background-repeat: no-repeat;">
 <!--  Error message popup code -->
  <div class="container">  
<div id="modalError" class="colorclass modal fade in" style="display: none; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">x</a>  
<h3>Error</h3>
<hr>  
<label id="errormessage"></label>
</div> 
</div>
</div>
  <!-- NAVBAR
================================================== -->
  <div class="navbar-wrapper" >
      <div class="container" >

          <div class="navbar navbar-static-top" role="navigation" style="margin-bottom:0px">

          <div class="container" style="background-color:#282364">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <img class="navbar-brand"   style="height: 51px;width: 124px;padding-bottom: 5px;padding-top: 5px" src="{% static 'Cafe/img/ugamLogobc.png' %}" href="www.ugamsolutions.com"></img>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
			<!-- Login form here -->
			<form action="[YOUR ACTION]" method="post" accept-charset="UTF-8">
	<label>Username:</label>		
  <input id="user_username" style="margin-bottom: 15px;" type="text" name="user[username]" size="30" />
  <label>Password:</label>
  <input id="user_password" style="margin-bottom: 15px;" type="password" name="user[password]" size="30" />
  <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
  <label class="string optional" for="user_remember_me"> Remember me</label>
 
  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
  
</form>
<br/>
			</div>
			<li style="position:relative; left:-10px;"><a href="/users/logout">Log Out</a></li>
              
			  
            
          </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
	<!-- Modal window html form -->
 
	
   <!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
	  <div id="main_template" style="margin-left: 115px;margin-right: 115px;margin-top:10px">
	<div class="panel panel-default" style="width:55%;display:inline-block;box-shadow: 16px 3px 10px -7px #888, -10px 10px 20px -7px #888;">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span>  MENU</h3>
  </div>
  <div class="panel-body">
  <ul class="nav nav-pills" id="menu-pills">
  <li class="active"><a href="#list_chips">Chips</a></li>
  <li><a href="#list_biscuits">Biscuits</a></li>
  <li><a href="#list_chocolates">Chocolates</a></li>
  <li><a href="#list_heatneat">Heat'n'Eat</a></li>
  <li><a href="#list_beverages">Beverages</a></li>
</ul>

<div id="menu-pillsContent" class="tab-content">


<div class="list-group tab-pane fade in active " id="list_chips">

  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70"># Left</th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if chips_list %}
    {% for chip in chips_list %}
    <div style="display:none" id="chip_id{{ forloop.counter }}">{{ chip.id }}</div>
    <tr>
        <td><span id="chip_inventory{{ forloop.counter }}" class="badge">{{ chip.inventory }}</span></td>
        <td id = "chip_name{{ forloop.counter }}">{{ chip.name }}</td>
        <td id = "chip_price{{ forloop.counter }}" align="right">{{ chip.price }}</td>
        <td><div class="input-group">
      <input id="chip_quantity{{ forloop.counter }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('chip',{{ forloop.counter }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No chips are available.</p>
{% endif %}
  </tbody>
</table>
</div>

<div class="list-group tab-pane fade" id="list_biscuits">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70"># Left</th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if biscuits_list %}
    {% for biscuit in biscuits_list %}
    <div style="display:none" id="biscuit_id{{ forloop.counter }}">{{ biscuit.id }}</div>
    <tr>
        <td><span id="biscuit_inventory{{ forloop.counter }}" class="badge">{{ biscuit.inventory }}</span></td>
        <td id="biscuit_name{{ forloop.counter }}">{{ biscuit.name }}</td>
        <td id="biscuit_price{{ forloop.counter }}" align="right">{{ biscuit.price }}</td>
        <td><div class="input-group">
      <input id="biscuit_quantity{{ forloop.counter }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('biscuit',{{ forloop.counter }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No biscuits are available.</p>
{% endif %}
  </tbody>
</table>
</div>

<div class="list-group tab-pane fade" id="list_chocolates">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70"># Left</th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if chocolates_list %}
    {% for chocolate in chocolates_list %}
    <div style="display:none" id="chocolate_id{{ forloop.counter }}">{{ chocolate.id }}</div>
    <tr>
        <td><span id="chocolate_inventory{{ forloop.counter }}" class="badge">{{ chocolate.inventory }}</span></td>
        <td id="chocolate_name{{ forloop.counter }}" >{{ chocolate.name }}</td>
        <td id="chocolate_price{{ forloop.counter }}" align="right">{{ chocolate.price }}</td>
        <td><div class="input-group">
      <input id="chocolate_quantity{{ forloop.counter }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('chocolate',{{ forloop.counter }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No chocolates are available.</p>
{% endif %}
  </tbody>
</table>
</div>

<div class="list-group tab-pane fade" id="list_heatneat">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70"># Left</th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if heatneat_list %}
    {% for heatneat in heatneat_list %}
    <div style="display:none" id="heatneat_id{{ forloop.counter }}">{{ heatneat.id }}</div>
    <tr>
        <td><span id="heatneat_inventory{{ forloop.counter }}" class="badge">{{ heatneat.inventory }}</span></td>
        <td id="heatneat_name{{ forloop.counter }}" >{{ heatneat.name }}</td>
        <td id="heatneat_price{{ forloop.counter }}"  align="right">{{ heatneat.price }}</td>
        <td><div class="input-group">
      <input id="heatneat_quantity{{ forloop.counter }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('heatneat',{{ forloop.counter }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No Heat'n'Eat products are available.</p>
{% endif %}
  </tbody>
</table>
</div>


<div class="list-group tab-pane fade" id="list_beverages">
  <table class="table table-hover">
  <thead>
    <tr>
      <th width="70"># Left</th>
      <th width="500">Item Name</th>
      <th width="150">Price <span class="WebRupee">&#x20B9;</span></th>
      <th width="100">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if beverages_list %}
    {% for beverage in beverages_list %}
    <div style="display:none" id="beverage_id{{ forloop.counter }}">{{ beverage.id }}</div>
    <tr>
        <td><span id="beverage_inventory{{ forloop.counter }}" class="badge">{{ beverage.inventory }}</span></td>
        <td id="beverage_name{{ forloop.counter }}">{{ beverage.name }}</td>
        <td id="beverage_price{{ forloop.counter }}" align="right">{{ beverage.price }}</td>
        <td><div class="input-group">
      <input id="beverage_quantity{{ forloop.counter }}" type="text" class="form-control" >
      <span class="input-group-btn">
        <button onclick="productClick('beverage',{{ forloop.counter }})" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
      </span>
    </div></td>
       </tr>
    {% endfor %}
{% else %}
    <p>No beverage products are available.</p>
{% endif %}
  </tbody>
</table>
</div>
</div>
</div>

</div>

<div class="panel panel-primary" style="float:right;width:40%;border-color: rgb(168, 168, 235);box-shadow: 16px 3px 10px -7px #888, -10px 10px 20px -7px #888;">
<div class="panel-heading"><span class="glyphicon glyphicon-shopping-cart"></span>  Checkout Cart</div>
  <div class="panel-body">
    <p>LIST OF ITEMS:</p>
  </div>

  <!-- Table -->
  <table class="table ">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price <span class="WebRupee">&#x20B9;</span></th>
          </tr>
        </thead>
        <tbody id="checkoutTable">
        </tbody>
      </table>

    <h2 style="display:inline-block"><span class="label label-default" width:"100%">Total : <span class="WebRupee">&#x20B9;</span><span id = "checkoutPrice"></span></span></h2> 
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal" style="float:right;margin-top:15px">
  Checkout
</button>
</div>
</div>
</div>
<!-- CONFIRMING MODAL FOR CHECKOUT -->
<div id="exampleModal" class="modal fade in bs-example-modal-sm" style="display: none;margin-top:auto;margin-bottom:auto; ">  
<div class="modal-header">  
<a class="close" data-dismiss="modal">x</a>  
<h3>Are you sure ?</h3>  
</div>  
  <div class="modal-footer">  
<input class="submit btn btn-default"  value="Yes"/>
<a href="#" class="btn  btn-default" data-dismiss="modal">Close</a>  

</div>

</div>  

      <!-- FOOTER -->
      <footer>
       <p style="padding-left:8%">&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'Cafe/js/bootstrap.min.js' %}"></script>
	<script>
  $(document).ready(function(){
    $('.carousel').carousel();
    onlyNumber("#beverage_quantity")
    onlyNumber("#chip_quantity")
    onlyNumber("#biscuit_quantity")
    onlyNumber("#heatneat_quantity")
    onlyNumber("#chocolate_quantity")
    
  });
  
  $('#menu-pills a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
var checkoutPrice = 0
function onlyNumber(input)
  {
	  
	  $(input).keydown(function (e) {
	        // Allow: backspace, delete, tab, escape, enter and .
	        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
	             // Allow: Ctrl+A
	            (e.keyCode == 65 && e.ctrlKey === true) || 
	             // Allow: home, end, left, right
	            (e.keyCode >= 35 && e.keyCode <= 39)) {
	                 // let it happen, don't do anything
	                 return;
	        }
	        // Ensure that it is a number and stop the keypress
	        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
	            e.preventDefault();
	        }
	    });
  }

function productClick(product,row)
  {
		console.log("product=="+product)
		console.log("row=="+row)
	  if($("#"+product+"_quantity"+row).val().length <= 0)
		  {
		  	console.log("inside no quantity")
		  	$("#errormessage").empty()
		  	$("#errormessage").append("Please add a quantity value")
		  	$("#modalError").modal('show')
		  	return
		  }
		 productquantity = $("#"+product+"_quantity"+row).val()
		  productquantity= parseInt(productquantity)
		  
		  productinventory = $("#"+product+"_inventory"+row).text()
		  productinventory= parseInt(productinventory)
	  if(productquantity > productinventory)
		  {
		  	console.log("inside greater than inventory")
		  	$("#errormessage").empty()
		  	$("#errormessage").append("Quantity selected cannot be greater than inventory")
		  	$("#modalError").modal('show')
		  	return
		  }
	  productid = $("#"+product+"_id"+row).text()
	  productid = parseInt(productid)
	  
	  productname = $("#"+product+"_name"+row).text()
	  productprice = $("#"+product+"_price"+row).text()
	  productprice = parseInt(productprice)
	  
	  productquantity = $("#"+product+"_quantity"+row).val()
	  productquantity= parseInt(productquantity)
	  
	  productinventory = $("#"+product+"_inventory"+row).text()
	  productinventory= parseInt(productinventory)
	  console.log("productinventory=="+productinventory)
	   console.log("productinventory=="+productquantity)
	  var quantityleft = productinventory - productquantity
	  console.log("quantityleft=="+quantityleft)
	  $("#"+product+"_inventory"+row).empty()
	  $("#"+product+"_inventory"+row).append(quantityleft)
	  
	  totalproductprice = productprice * productquantity
	  checkoutPrice = checkoutPrice + totalproductprice;
	  console.log(checkoutPrice+","+totalproductprice)
	  var tableSize = $('#checkoutTable tr').length;
	  var flag = false;
	  var itemId;
	  if(tableSize > 0)
		  {
		  console.log("inside not empty")
	  $("#checkoutTable tr").each(function(){
		   console.log("checkingsame"+this.id+"productid"+productid)
		  if (productid === parseInt(this.id))
			  {
				flag = true;
				itemId = this.id;

			  }	
	  });
		  if(flag){
			  console.log("q : " + $("#"+itemId+" td#productquantity").text());
			  productquantity += parseInt($("#"+itemId+" td#productquantity").text())
			  totalproductprice += parseInt($("#"+itemId+" td#totalproductprice").text())
			  	$("#"+itemId+" td#productquantity").text(productquantity)
			  	$("#"+itemId+" td#totalproductprice").text(totalproductprice)
		  }else{
			  console.log("inside else if product is not added")
			  $("#checkoutTable").append('<tr id = "'+productid+'"><td>'+productname+'</td><td id="productquantity">'+productquantity+'</td><td id="totalproductprice">'+totalproductprice+'</td></tr>')
		  }
		  }
	  else{
		  console.log("inside empty")
		  $("#checkoutTable").append('<tr id = "'+productid+'"><td>'+productname+'</td><td id="productquantity">'+productquantity+'</td><td id="totalproductprice">'+totalproductprice+'</td></tr>')
	  }
	  $("#checkoutPrice").empty()
	  $("#checkoutPrice").append('<label>'+checkoutPrice+'</label>')
	  
	  
  }

</script>
  </body>
</html>
